.background {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(1.3);
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

/*
    #main-background {}
    #resident {}
    #main-hero {} 
*/

.background img {
    scale: 1.3;
    position: fixed;
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}

#container-arrow {
    width: auto;
    height: 10rem;
    bottom: 0;
}

#container-arrow img {
    width: 3rem;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

#container-arrow p {
    color: transparent;
    -webkit-text-stroke: 0.5px white;
    font-size: 4rem;
    text-align: center;
    font-family: var(--helvetica-bold);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 100vh;
    background-color: var(--secondary-color);
    position: relative;
}

.container h1 {
    text-align: center;
    color: white;
    font-family: var(--main-font);
    font-size: 35vw;
    background-image: url('/assets/img/full-background.svg');
    -webkit-text-fill-color: transparent;
    background-clip: text;
    object-position: center;
    background-size: 100% auto; 
    object-fit: contain;

    scale: 1.3;
}

.bottom {
    position: relative;
    top: 100vh;
    height: 100vh;
    background-color: white;
}